Prototypes/TimeTrackerPrototype/TimeTrackerPrototype/TimeTrackerPrototypeScreens/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Top10List" type="tns:Top10List" />
      <xs:element name="EmployeesList" type="tns:EmployeesList" />
      <xs:element name="CustomerList" type="tns:CustomerList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Top10List">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Top10ListItem" type="tns:Top10ListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Top10ListItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EmployeesList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EmployeesListItem" type="tns:EmployeesListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeesListItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Company Name" name="Company" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CustomerList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CustomerListItem" type="tns:CustomerListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerListItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
  </xs:complexType>
</xs:schema>